<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
  
      <bean id ="sony" class= "in.sunnyit.SonyPrinter" />
      
      <bean id ="hp" class= "in.sunnyit.HPPrinter" primary="true"/>
      
       <!-- <bean id ="atm" class= "in.sunnyit.ATM" autowire="byType" />  -->
    
      <!--   <bean id ="atm" class= "in.sunnyit.ATM" autowire="constructor" />  -->
      
      <bean id ="atm" class= "in.sunnyit.ATM" autowire="no" />
      
     
       
      

</beans>